
   <div class="section section-lg section-bottom container" ng-controller="addSampleCtrl">
      <div>                    
        <div class="row">        
          <div class="col-md-12">
	       	 <div class="row">
	            <h3 class="title-md hr-left text-theme">Metadata Information</h3>	      
	            <div class="panel-primary text-theme content-box col-md-6" >
	              <div class="panel-heading">
	                <h3 class="panel-title">Mandatory</h3>
	              </div>
	              <div class="panel-body">
	                <form>
	                  <div class="form-group form-group-sm">
	                    <label>Resource Identifier</label>
	                    <input type="text" class="form-control" placeholder="Enter a unique identifier" ng-model="form.resourceIdentifier"/>
	                  </div>
	                  <div class="form-group form-group-sm">
	                    <label>Landing Page</label>
	                    <input type="password" class="form-control" placeholder="Enter a valid landing page" ng-model="form.landingPage"/>
	                  </div>
	                  <div class="form-group form-group-sm">
	                    <label>isPublic</label>
	                    <select  class="form-control" name="singleSelect" id="singleSelect" ng-model="form.isPublic">
					      <option value="">---Please select---</option> 
					      <option value="true">YES</option>
					      <option value="false">NO</option>
					    </select>	                   
	                  </div>	
	                  <div class="form-group form-group-sm">
	                    <label>Resource Title</label>
	                    <input type="text" class="form-control" placeholder="Title for resource" ng-model="form.resourceTitle"/>
	                  </div>	     
	                  <div class="form-group form-group-sm">
	                    <label>Resource Type</label>
	                    <select  class="form-control" ng-model="form.resourceType"  ng-options="type as type for type in getResourceType"></select>	                   
	                  </div>
	                  <div class="form-group form-group-sm">
	                    <label>Material Type</label>
	                    <select  class="form-control" ng-model="form.materialType"  ng-options="type as type for type in getMaterialType"></select>	                   
	                  </div>
	                                   
	                </form>	               
	              </div>
	            </div>
	            <div class="panel-primary text-theme content-box col-md-6">
	              <div class="panel-heading">
	                <h3 class="panel-title">Mandatory</h3>
	              </div>
	              <div class="panel-body">
	                <form>
	                  <fieldset class="form-group form-group-sm show-fieldset-borders">
					    <legend><div class="title-sm text-theme hr-left">Curation Details</div></legend>
					    <div class="form-group form-group-sm">
						    <label>Curator</label>
		                    <input type="text" class="form-control" placeholder="Curator" ng-model="form.curator"/>
	                    </div>
	                    <div class="form-group form-group-sm">
		                    <label>Curation Date</label>
		                    <div class="input-group">
		                     <input type="date" class="form-control" ng-model="form.curationDate" />
						     </div>
		                 </div>
		                 <div class="form-group form-group-sm">
						    <label>Curation Location</label>
		                    <input type="text" class="form-control" placeholder="Curation Location" ng-model="form.curationLocation"/>
	                    </div>
		                 <div class="form-group form-group-sm">
						    <label>Curation Institution Uri</label>
		                    <input type="text" class="form-control" placeholder="http://" ng-model="form.curationInstitutionUri"/>
	                    </div>		                 
					  </fieldset>			                       
	                </form>	               
	              </div>
	            </div>
	          </div>
          </div>         
        </div>
        <div class="row mt-20 mb-30">
	      <div class="col-sm-12">
	        <!-- Nav tabs -->
	        <ul class="nav nav-tabs nav-tabs-shop" role="tablist">
	          <li class="active">
	          	<a data-target="#addresource-location" role="tab" data-toggle="tab">Location</a>	          		                      
	          </li>
	          <li>
	           	<a data-target="#addresource-misc" role="tab" data-toggle="tab">Misc</a>
	          </li>	         
	          <li>
	           <a data-target="#addresource-contributors" role="tab" data-toggle="tab">Contributors</a>
	          </li>
	          <li>
	           <a data-target="#addresource-related-resource" role="tab" data-toggle="tab">Related Resource</a>
	          </li>
	        </ul>
	        <!-- Tab panes -->
	        <div class="tab-content tab-content-shop">
	          <div class="tab-pane fade active in" id="addresource-location">		
		          <div class="row">	  
			          <div class="col-md-12">        
			          	<fieldset class="form-group form-group-sm show-fieldset-borders">
						    <legend><div class="title-sm text-theme hr-left">Location</div></legend>
						    <div class="form-group form-group-sm">
							    <label>Locality</label>
			                    <input type="text" class="form-control" placeholder="locality" ng-model="form.locality"/>
		                    </div>
		                    <div class="form-group form-group-sm">
							    <label>Locality uri</label>
			                    <input type="text" class="form-control" placeholder="http://" ng-model="form.localityUri"/>
		                    </div>
		                    <div class="form-group form-group-sm">
			                    <label>SRID</label>
			                    <select  class="form-control" ng-model="form.srid"  ng-options="epsg as epsg for epsg in getEpsg"></select>	                   
			                 </div>
			                 <div class="form-group form-group-sm">
			                    <label>Vertical Datum</label>
			                    <select  class="form-control" ng-model="form.verticalDatum"  ng-options="epsg as epsg for epsg in getEpsg"></select>	                   
			                 </div>
			                 <div class="form-group form-group-sm">
							    <label>Geometry uri</label>
			                    <input type="text" class="form-control" placeholder="Geometry Uri" ng-model="form.geometryUri"/>
		                    </div>
		                    <div class="form-group form-group-sm">
							    <label>location wkt</label>
			                    <input type="text" class="form-control" placeholder="spatial well known text" ng-model="form.wkt" />
		                    </div>
						  </fieldset> 
						</div>               
			      </div>            					      
		      </div>	
	          <div class="tab-pane fade  in tab-shop-item" id="addresource-misc">
	          	 <div class="row mt-20">
	          	 	<div class="col-md-12">	          
			         	<form>		              	
		                  <div class="form-group form-group-sm">
		                    <label>Alternate Identifier</label>
		                    <input type="text" class="form-control" placeholder="Alternate identifier" ng-model="form.alternateIdentifier"/>
		                  </div> 
		                   <div class="form-group form-group-sm">
		                    <label>Classification uri</label>
		                     <div class="row">
							  <div class="col-sm-6 col-xs-12">						   					      
							      <input type="text" class="form-control" placeholder="http://" ng-model="form.classificationUri"/>		    
							  </div>
							  <div class="col-sm-6 col-xs-12">									  	  		   				     
							      <input type="text" class="form-control" placeholder="classification" ng-model="form.classification"/>						    
							  </div>
							</div>
		                    
		                  </div>  
		                   <div class="form-group form-group-sm">
		                    <label>purpose</label>
		                    <input type="text" class="form-control" placeholder="purpose" ng-model="form.purpose"/>
		                  </div>   
		                   <div class="form-group form-group-sm">
		                    <label>SampledFeatures</label>
		                    <div class="row">
							  <div class="col-sm-6 col-xs-12">						   					      
							      <input type="text" class="form-control" placeholder="http://" ng-model="form.sampledFeatureUri"/>						    
							  </div>
							  <div class="col-sm-6 col-xs-12">						   				      
							      <input type="text" class="form-control" placeholder="Sampled Feature" ng-model="form.sampledFeature"/>						    
							  </div>
							</div>
		                  </div>  
						   <div class="form-group form-group-sm">
		                    <label>Date</label>
		                    <div class="input-group">
		                     <input type="date" class="form-control"  ng-model="form.date"/>						          
						     </div>
		                  </div>
						  <div class="form-group form-group-sm">
		                    <label>Method</label>
		                    <div class="row">
							  <div class="col-sm-6 col-xs-12">						   					      
							      <input type="text" class="form-control" placeholder="Method uri" ng-model="form.methodURI"/>				    
							  </div>
							  <div class="col-sm-6 col-xs-12">		
							  	  <input type="text" class="form-control" placeholder="Method" ng-model="form.method"/>				   				      
							      						    
							  </div>
							</div>
		                    
		                  </div>  
		                  <div class="form-group form-group-sm">
		                    <label>Campaign</label>
		                    <input type="text" class="form-control" placeholder="Campaign" ng-model="form.campaign"/>
		                  </div> 
						  <div class="form-group form-group-sm">
		                    <label>Comments</label>
		                    <input type="text" class="form-control" placeholder="Comments" ng-model="form.comments"/>
		                  </div>      
		                </form>	 	
					 </div>				                       
			      </div>
	          </div>	
	          
	          
	         
	          <div class="tab-pane fade in tab-shop-item" id="addresource-contributors">
	          	 <div class="row">	
	          	 	<div class="col-md-12">          
		          	  <fieldset class="form-group form-group-sm show-fieldset-borders">
					    <legend><div class="title-sm text-theme hr-left">Contributors</div></legend>
					    <div class="form-group form-group-sm">
						    <label>Contributor Name</label>
		                    <input type="text" class="form-control" placeholder="Contributor Name" ng-model="form.contributorName">
	                    </div>	                   
	                    <div class="form-group form-group-sm">
		                    <label>Contributor Type</label>
		                    <select  class="form-control" ng-model="form.contributorType"  ng-options="type as type for type in getContributorType"></select>	                   
		                 </div>
		                  <div class="form-group form-group-sm">
						    <label>Contributor Identifier</label>
		                    <input type="text" class="form-control" placeholder="Contributor Identifier" ng-model="form.contributorIdentifier">
	                    </div>
	                    <div class="form-group form-group-sm">
		                    <label>Contributor Identifier Type</label>
		                    <select  class="form-control" ng-model="form.contributorIdentifierType"  ng-options="type as type for type in getIdentifierType"></select>	                   
		                 </div>	
					    </fieldset>  
					  </div>				                       
			      </div>
	          </div>
	          <div class="tab-pane fade in tab-shop-item" id="addresource-related-resource">
	          	 <div class="row">	
	          	 	<div class="col-md-12">          
		          	  <fieldset class="form-group form-group-sm show-fieldset-borders">
					    <legend><div class="title-sm text-theme hr-left">Related Resource</div></legend>
					    <div class="form-group form-group-sm">
						    <label>Related resource</label>
		                    <input type="text" class="form-control" placeholder="Related resource" ng-model="form.relatedResource">
	                    </div>	                   
	                    <div class="form-group form-group-sm">
		                    <label>Related Identifier Type</label>
		                    <select  class="form-control" ng-model="form.relatedIdentifierType"  ng-options="type as type for type in getIdentifierType"></select>	                   
		                 </div>		                 
	                    <div class="form-group form-group-sm">
		                    <label>Relation Type</label>
		                    <select  class="form-control" ng-model="form.contributorIdentifierType"  ng-options="type as type for type in getRelationType"></select>	                   
		                 </div>	
					  </fieldset> 
					 </div>	                       
			      </div>
	          </div>
	        </div>
	      </div>
	    </div>
      </div>
    </div>
  
   
				