
   <div class="section section-lg section-bottom container" ng-controller="addResourceCtrl">
      <div>                    
        <div class="row">        
          <div class="col-md-12">
	       	 <div class="row">
	            <h3 class="title-md hr-left text-theme">Metadata Information</h3>	      
	            <div class="panel-primary text-theme content-box col-md-6" >
	              <div class="panel-heading">
	                <h3 class="panel-title">Primary Info(*)</h3>
	              </div>
	              <div class="panel-body">
	                <form name="mandatoryleft">
	                  <div class="form-group form-group-sm">
	                      <label>Resource Identifier: {{form.prefix}}{{form.resourceIdentifier}}</label>
	                      <div class="form-inline">
		                      <div ng-hide="update" class="form-group" ng-class="{ 'has-error' : mandatoryleft.prefix.$invalid}">
			                     <select  class="form-control" ng-model="resource.prefix" ng-change="changePrefix(allocatedPrefix.prefix)" name="prefix" ng-options="allocatedPrefix.prefix as allocatedPrefix.prefix for allocatedPrefix in allocatedPrefixes" required></select>	
							  </div>
							  <div class="form-group">
			                      <div class="input-group" style="width:400px" ng-class="{ 'has-error' : mandatoryleft.resourceIdentifier.$invalid}">						            
						            <input  ng-disabled="update" type="text" class="form-control" placeholder="Leaving this blank will auto generate random Id"  capitalize name="resourceIdentifier" ng-model="resource.resourceIdentifier" pattern="^{{form.prefix}}.*"/>						            
						          </div>
					          </div>
				          </div>
				          <p ng-show="mandatoryleft.prefix.$invalid && !update" class="small help-block" style="color: #a94442;">Select prefix</p>	
				          <p ng-show="(mandatoryleft.resourceIdentifier.$invalid && !update)" class="small help-block" style="color: #c4d44a;">Warning:Resource Identifier has to start with selected prefix</p>	                    	                    
	                  </div>
	                   <div class="form-group form-group-sm" ng-class="{ 'has-error' : mandatoryleft.registeredObjectType.$invalid}">
	                    <label>Registered Object Type</label>
	                    <select  class="form-control" ng-model="resource.registeredObjectType"  name="registeredObjectType" ng-options="type as type for type in registeredObjectType" required></select>	 
	                    <p ng-show="mandatoryleft.registeredObjectType.$invalid" class="small help-block">Select registered object type</p>                  
	                  </div>
	                  <div class="form-group form-group-sm"  ng-class="{ 'has-error' : mandatoryleft.landingPage.$invalid}">
	                    <label>Landing Page</label>
	                    <input name="landingPage" type="text" class="form-control" placeholder="Enter a valid landing page" ng-model="resource.landingPage" required/>
	                    <p ng-show="mandatoryleft.landingPage.$invalid" class="small help-block">Enter a valid landing page url.</p>
	                  </div>
	                  <div class="form-group form-group-sm" ng-class="{ 'has-error' : mandatoryleft.ispublic.$invalid}">
	                    <label>isPublic</label>
	                    <select  class="form-control" name="ispublic"  ng-model="resource.isPublic" required>
					      <option value="">---Please select---</option> 
					      <option value="true">YES</option>
					      <option value="false">NO</option>
					    </select>
					    <p ng-show="mandatoryleft.ispublic.$invalid" class="small help-block">Select public access</p>	                   
	                  </div>	
	                  <div class="form-group form-group-sm" ng-class="{ 'has-error' : mandatoryleft.resourcetitle.$invalid}">
	                    <label>Resource Title</label>
	                    <input type="text" class="form-control" name="resourcetitle" placeholder="Title for resource" ng-model="resource.resourceTitle" required/>
	                    <p ng-show="mandatoryleft.resourcetitle.$invalid" class="small help-block">Provide a title for the resource</p>
	                  </div>	     
	                  <div class="form-group form-group-sm" ng-class="{ 'has-error' : mandatoryleft.resourcetype.$invalid}">
	                    <label>Resource Type</label>
	                    <select  class="form-control" ng-model="resource.resourceTypeses[0].cvResourceType.resourceType"  name="resourcetype" ng-options="type as type for type in getResourceType" required></select>	 
	                    <p ng-show="mandatoryleft.resourcetype.$invalid" class="small help-block">Select a resource type</p>                  
	                  </div>
	                  <div class="form-group form-group-sm" ng-class="{ 'has-error' : mandatoryleft.materialtype.$invalid}">
	                    <label>Material Type</label>
	                    <select  class="form-control" ng-model="resource.materialTypeses[0].cvMaterialTypes.materialType" name=materialtype ng-options="type as type for type in getMaterialType" required></select>	
	                     <p ng-show="mandatoryleft.materialtype.$invalid" class="small help-block">Select a material type</p>                   
	                  </div>
	                                   
	                </form>	               
	              </div>
	            </div>
	            <div class="panel-primary text-theme content-box col-md-6">
	              <div class="panel-heading">
	                <h3 class="panel-title">Curator</h3>
	              </div>
	              <div class="panel-body">
	                <form name="mandatoryright">
	                  <fieldset class="form-group form-group-sm show-fieldset-borders">
					    <legend><div class="title-sm text-theme hr-left">Curation Details</div></legend>
					    <div class="form-group form-group-sm">
						    <label>Curator</label>
		                    <input type="text" class="form-control" placeholder="Curator" ng-model="form.curator"/>
	                    </div>
	                    <div class="form-group form-group-sm">
		                    <label>Curation Date</label>
		                    <div class="input-group">
		                     <input type="date" class="form-control" ng-model="form.curationDate" />
						     </div>
		                 </div>
		                 <div class="form-group form-group-sm">
						    <label>Curation Location</label>
		                    <input type="text" class="form-control" placeholder="Curation Location" ng-model="form.curationLocation"/>
	                    </div>
	                     <div class="form-group form-group-sm" ng-class="{ 'has-error' : mandatoryright.curatingInstitution.$invalid}">
						    <label>Curating Institution(*)</label>
		                    <input type="text" class="form-control" name="curatingInstitution" placeholder="Curating Institution" ng-model="form.curatingInstitution" required/>
		                    <p ng-show="mandatoryright.curatingInstitution.$invalid" class="small help-block">Enter the curating institution</p>
	                    </div>
		                 <div class="form-group form-group-sm">
						    <label>Curation Institution Uri</label>
		                    <input type="text" class="form-control" placeholder="http://" ng-model="form.curationInstitutionUri"/>		                    
	                    </div>		                 
					  </fieldset>			                       
	                </form>	
	                              
	              </div>
	            </div>
	          </div>
          </div>         
        </div>
        <div class="row">
        	<button class="btn btn-blue  pull-right" type="button" ng-click="mintResource()">Mint IGSN</button>
        </div> 
        <div class="row mt-20 mb-30">
	      <div class="col-sm-12">
	        <!-- Nav tabs -->
	        <ul class="nav nav-tabs nav-tabs-shop" role="tablist">
	          <li class="active">
	          	<a data-target="#addresource-location" role="tab" data-toggle="tab">Location</a>	          		                      
	          </li>
	          <li>
	           	<a data-target="#addresource-misc" role="tab" data-toggle="tab">Misc</a>
	          </li>	         
	          <li>
	           <a data-target="#addresource-contributors" role="tab" data-toggle="tab">Contributors</a>
	          </li>
	          <li>
	           <a data-target="#addresource-related-resource" role="tab" data-toggle="tab">Related Resource</a>
	          </li>
	        </ul>
	        <!-- Tab panes -->
	        <div class="tab-content tab-content-shop">
	          <div class="tab-pane fade active in" id="addresource-location">		
		          <div class="row">	  
			          <div class="col-md-12"> 
			            <form name="location">       
				          	<fieldset class="form-group form-group-sm show-fieldset-borders">
							    <legend><div class="title-sm text-theme hr-left">Location</div></legend>
							    <div class="form-group form-group-sm">
								    <label>Locality</label>
				                    <input type="text" class="form-control" placeholder="locality" ng-model="form.locality"/>
			                    </div>
			                    <div class="form-group form-group-sm">
								    <label>Locality uri</label>
				                    <input type="text" class="form-control" placeholder="http://" ng-model="form.localityUri"/>
			                    </div>
			                    <div class="form-group form-group-sm">
				                    <label>SRID</label>
				                    <select  class="form-control" ng-model="form.srid"  ng-options="epsg as epsg for epsg in getEpsg"></select>	                   
				                 </div>
				                 <div class="form-group form-group-sm">
				                    <label>Vertical Datum</label>
				                    <select  class="form-control" ng-model="form.verticalDatum"  ng-options="epsg as epsg for epsg in getEpsg"></select>	                   
				                 </div>
				                 <div class="form-group form-group-sm">
								    <label>Geometry uri</label>
				                    <input type="text" class="form-control" placeholder="Geometry Uri" ng-model="form.geometryUri"/>
			                    </div>
			                    <div class="form-group form-group-sm" ng-class="{ 'has-error' : location.wkt.$invalid && !location.wkt.$pristine}">
								    <label>location wkt</label>
				                    <input type="text" class="form-control" name="wkt" ng-change="testIsWKT(form.wkt)" placeholder="spatial well known text" ng-model="form.wkt"/>
				                    <p ng-show="location.wkt.$invalid && !location.wkt.$pristine" class="small help-block">Invalid well known text</p>  
			                    </div>
							  </fieldset> 
						  </form>
						</div>               
			      </div>            					      
		      </div>	
	          <div class="tab-pane fade  in tab-shop-item" id="addresource-misc">
	          	 <div class="row mt-20">
	          	 	<div class="col-md-12">	          
			         	<form>		              	
		                  <div class="form-group form-group-sm">
		                    <label>Alternate Identifier</label>
		                    <input type="text" class="form-control" placeholder="Alternate identifier" ng-model="form.alternateIdentifier"/>
		                  </div> 
		                   <div class="form-group form-group-sm">
		                    <label>Classification uri</label>
		                     <div class="row">
							  <div class="col-sm-6 col-xs-12">						   					      
							      <input type="text" class="form-control" placeholder="http://" ng-model="form.classificationUri"/>		    
							  </div>
							  <div class="col-sm-6 col-xs-12">									  	  		   				     
							      <input type="text" class="form-control" placeholder="classification" ng-model="form.classification"/>						    
							  </div>
							</div>
		                    
		                  </div>  
		                   <div class="form-group form-group-sm">
		                    <label>purpose</label>
		                    <input type="text" class="form-control" placeholder="purpose" ng-model="form.purpose"/>
		                  </div>   
		                   <div class="form-group form-group-sm">
		                    <label>SampledFeatures</label>
		                    <div class="row">
							  <div class="col-sm-6 col-xs-12">						   					      
							      <input type="text" class="form-control" placeholder="http://" ng-model="form.sampledFeatureUri"/>						    
							  </div>
							  <div class="col-sm-6 col-xs-12">						   				      
							      <input type="text" class="form-control" placeholder="Sampled Feature" ng-model="form.sampledFeature"/>						    
							  </div>
							</div>
		                  </div>  
						   <div class="form-group form-group-sm">
		                    <label>Date</label>
		                    <div class="input-group">
		                     <input type="date" class="form-control"  ng-model="form.date"/>						          
						     </div>
		                  </div>
						  <div class="form-group form-group-sm">
		                    <label>Method</label>
		                    <div class="row">
							  <div class="col-sm-6 col-xs-12">						   					      
							      <input type="text" class="form-control" placeholder="Method uri" ng-model="form.methodURI"/>				    
							  </div>
							  <div class="col-sm-6 col-xs-12">		
							  	  <input type="text" class="form-control" placeholder="Method" ng-model="form.method"/>				   				      
							      						    
							  </div>
							</div>
		                    
		                  </div>  
		                  <div class="form-group form-group-sm">
		                    <label>Campaign</label>
		                    <input type="text" class="form-control" placeholder="Campaign" ng-model="form.campaign"/>
		                  </div> 
						  <div class="form-group form-group-sm">
		                    <label>Comments</label>
		                    <input type="text" class="form-control" placeholder="Comments" ng-model="form.comments"/>
		                  </div>      
		                </form>	 	
					 </div>				                       
			      </div>
	          </div>	
	          
	          
	         
	          <div class="tab-pane fade in tab-shop-item" id="addresource-contributors">
	          	 <div class="row">	
	          	 	<div class="col-md-12">          
		          	  <fieldset class="form-group form-group-sm show-fieldset-borders" ng-repeat="contributor in form.contributors">
					    <legend><div class="title-sm text-theme hr-left">Contributors</div></legend>
					    <div class="form-group form-group-sm">
						    <label>Contributor Name</label>
		                    <input type="text" class="form-control" placeholder="Contributor Name" ng-model="form.contributors[$index].contributorName">
	                    </div>	                   
	                    <div class="form-group form-group-sm">
		                    <label>Contributor Type</label>
		                    <select  class="form-control" ng-model="form.contributors[$index].contributorType"  ng-options="type as type for type in getContributorType"></select>	                   
		                 </div>
		                  <div class="form-group form-group-sm">
						    <label>Contributor Identifier</label>
		                    <input type="text" class="form-control" placeholder="Contributor Identifier" ng-model="form.contributors[$index].contributorIdentifier">
	                    </div>
	                    <div class="form-group form-group-sm">
		                    <label>Contributor Identifier Type</label>
		                    <select  class="form-control" ng-model="form.contributors[$index].contributorIdentifierType"  ng-options="type as type for type in getIdentifierType"></select>	                   
		                 </div>	
		                 <button class="btn btn-red btn-sm" type="button" ng-click="removeContributor($index)">Remove Contributor</button>
					     <button class="btn btn-blue btn-sm" type="button" ng-click="addContributor()">Add More Contributor</button>
					    </fieldset>  
					    
					  </div>				                       
			      </div>
	          </div>
	          <div class="tab-pane fade in tab-shop-item" id="addresource-related-resource">
	          	 <div class="row">	
	          	 	<div class="col-md-12">          
		          	  <fieldset class="form-group form-group-sm show-fieldset-borders" ng-repeat="relatedResource in form.relatedResources">
					    <legend><div class="title-sm text-theme hr-left">Related Resource</div></legend>
					    <div class="form-group form-group-sm">
						    <label>Related resource</label>
		                    <input type="text" class="form-control" placeholder="Related resource" ng-model="form.relatedResources[$index].relatedResource">
	                    </div>	                   
	                    <div class="form-group form-group-sm">
		                    <label>Related Identifier Type</label>
		                    <select  class="form-control" ng-model="form.relatedResources[$index].relatedIdentifierType"  ng-options="type as type for type in getIdentifierType"></select>	                   
		                 </div>		                 
	                    <div class="form-group form-group-sm">
		                    <label>Relation Type</label>
		                    <select  class="form-control" ng-model="form.relatedResources[$index].contributorIdentifierType"  ng-options="type as type for type in getRelationType"></select>	                   
		                 </div>	
		                 <button class="btn btn-red btn-sm" type="button" ng-click="removeRelatedResource($index)">Remove Related Resource</button>
					     <button class="btn btn-blue btn-sm" type="button" ng-click="addRelatedResource()">Add More Related Resource</button>
					  </fieldset> 
					 </div>	                       
			      </div>
	          </div>
	        </div>
	      </div>
	    </div>
      </div>
    </div>
  
   
				