   
   <div class="section section-lg section-bottom container" ng-controller="addResourceCtrl">
   <div class="loading" ng-class="{'loader-show':loading, 'loader-hide':!loading}"></div>
      <div>                   
        <div class="row">        
          <div class="col-md-12">
	       	 <div class="row">
	            <h3 class="title-md hr-left text-theme">Metadata Information</h3>	      
	            <div class="panel-primary text-theme content-box col-md-6" >
	              <div class="panel-heading">
	                <h3 class="panel-title">Primary Info(*)</h3>
	              </div>
	              <div class="panel-body">
	                <form name="mandatoryleft">
	                  <div class="form-group form-group-sm">
	                      <label>Resource Identifier: {{resource.prefix}}{{resource.resourceIdentifier}}</label>
	                      <div class="form-inline">
		                      <div ng-hide="resource.eventType=='updated'" class="form-group" ng-class="{ 'has-error' : mandatoryleft.prefix.$invalid}">
			                     <select  class="form-control" ng-model="resource.prefix" ng-change="changePrefix()" name="prefix" ng-options="allocatedPrefix.prefix as allocatedPrefix.prefix for allocatedPrefix in allocatedPrefixes" required></select>	
							  </div>
							  <div class="form-group form-group-sm">
			                      <div class="input-group" style="width:270px" ng-class="{ 'has-error' : mandatoryleft.resourceIdentifier.$invalid}">				                      				            
						            <input id="form-resource-identifier" ng-disabled="resource.eventType=='updated' || resource.randomIds" type="text" class="form-control" placeholder="Tick Auto-gen to randomly generate ids"  capitalize name="resourceIdentifier" ng-model="resource.resourceIdentifier" pattern="^{{resource.prefix}}.*"/>						            
						          </div>
						          <div class="checkbox" ng-hide="resource.eventType=='updated'">
							        <label><input type="checkbox"  ng-model="resource.randomIds" ng-change="changePrefix()"> Auto-gen</label>
							      </div>
					          </div>
				          </div>
				          <p ng-show="mandatoryleft.prefix.$invalid && resource.eventType!='updated'" class="small help-block" style="color: #a94442;">Select prefix</p>	
				          <p ng-show="(mandatoryleft.resourceIdentifier.$invalid && resource.eventType!='updated')" class="small help-block" style="color: #c4d44a;">Warning:Resource Identifier has to start with selected prefix</p>	                    	                    
	                  </div>
	                   <div class="form-group form-group-sm" ng-class="{ 'has-error' : mandatoryleft.registeredObjectType.$invalid}">
	                    <label>Registered Object Type</label>
	                    <select  class="form-control" ng-model="resource.registeredObjectType"  name="registeredObjectType" ng-options="type as type for type in registeredObjectType" required></select>	 
	                    <p ng-show="mandatoryleft.registeredObjectType.$invalid" class="small help-block">Select registered object type</p>                  
	                  </div>
	                  <div class="form-group form-group-sm"  ng-class="{ 'has-error' : mandatoryleft.landingPage.$invalid}">
	                    <label>Landing Page</label>
	                    <input name="landingPage" type="text" class="form-control" placeholder="Enter a valid landing page"  ng-model="resource.landingPage" required pattern="https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)"/>
	                    <p ng-show="mandatoryleft.landingPage.$invalid" class="small help-block">Enter a valid landing page url that starts with http:// or https://</p>
	                  </div>
	                  <div class="form-group form-group-sm" ng-class="{ 'has-error' : mandatoryleft.ispublic.$invalid}">
	                    <label>isPublic</label>
	                    <select  class="form-control" name="ispublic"  ng-model="resource.isPublic" ng-options="o.v as o.n for o in [{ n: 'True', v: true }, { n: 'False', v: false }]" required></select>
					    <p ng-show="mandatoryleft.ispublic.$invalid" class="small help-block">Select public access</p>	                   
	                  </div>	
	                  <div class="form-group form-group-sm" ng-class="{ 'has-error' : mandatoryleft.resourcetitle.$invalid}">
	                    <label>Resource Title</label>
	                    <input type="text" class="form-control" name="resourcetitle" placeholder="Title for resource" ng-model="resource.resourceTitle" required/>
	                    <p ng-show="mandatoryleft.resourcetitle.$invalid" class="small help-block">Provide a title for the resource</p>
	                  </div>	     
	                  <div class="form-group form-group-sm" ng-class="{ 'has-error' : mandatoryleft.resourcetype.$invalid}">
	                    <label>Resource Type</label>
	                    <select  ng-repeat="types in resource.resourceTypeses" class="form-control" ng-model="types.cvResourceType.resourceType"  name="resourcetype" ng-options="type as type for type in getResourceType" required></select>	 
	                    <p ng-show="mandatoryleft.resourcetype.$invalid" class="small help-block">Select a resource type</p>                  
	                  </div>
	                  <div class="form-group form-group-sm" ng-class="{ 'has-error' : mandatoryleft.materialtype.$invalid}">
	                    <label>Material Type</label>
	                    <select ng-repeat="types in resource.materialTypeses" class="form-control" ng-model="types.cvMaterialTypes.materialType" name=materialtype ng-options="type as type for type in getMaterialType" required></select>	
	                     <p ng-show="mandatoryleft.materialtype.$invalid" class="small help-block">Select a material type</p>                   
	                  </div>
	                                   
	                </form>	               
	              </div>
	            </div>
	            <div class="panel-primary text-theme content-box col-md-6">
	              <div class="panel-heading">
	                <h3 class="panel-title">Curator</h3>
	              </div>
	              <div class="panel-body">
	                <form name="mandatoryright">
	                  <fieldset class="form-group form-group-sm show-fieldset-borders">
					    <legend><div class="title-sm text-theme hr-left">Curation Details</div></legend>
					    <div class="form-group form-group-sm">
						    <label>Curator</label>
		                    <input type="text" class="form-control" placeholder="Curator" ng-model="resource.curationDetailses[0].curator"/>
	                    </div>
	                    <div class="form-group form-group-sm">
		                    <label>Curation Date</label>
		                    <div class="input-group">
		                     <input type="date" class="form-control" ng-model="resource.curationDetailses[0].curationDate" format-date/>
						     </div>
		                 </div>
		                 <div class="form-group form-group-sm">
						    <label>Curation Location</label>
		                    <input type="text" class="form-control" placeholder="Curation Location" ng-model="resource.curationDetailses[0].curationLocation"/>
	                    </div>
	                     <div class="form-group form-group-sm" ng-class="{ 'has-error' : mandatoryright.curatingInstitution.$invalid}">
						    <label>Curating Institution(*)</label>
		                    <input type="text" class="form-control" name="curatingInstitution" placeholder="Curating Institution" ng-model="resource.curationDetailses[0].curatingInstitution" required/>
		                    <p ng-show="mandatoryright.curatingInstitution.$invalid" class="small help-block">Enter the curating institution</p>
	                    </div>
		                 <div class="form-group form-group-sm">
						    <label>Curation Institution Uri</label>
		                    <input type="text" class="form-control" placeholder="http://" ng-model="resource.curationDetailses[0].institutionUri"/>		                    
	                    </div>		                 
					  </fieldset>			                       
	                </form>	
	                              
	              </div>
	            </div>
	          </div>
          </div>         
        </div>
        <div class="row">
        	<button class="btn btn-blue  pull-right" type="button" ng-click="mintResource()">{{resource.eventType=='updated'? "Update Resource" : "Mint Resource"}}</button>
        </div> 
        <div class="row mt-20 mb-30">
	      <div class="col-sm-12">
	        <!-- Nav tabs -->
	        <ul class="nav nav-tabs nav-tabs-shop" role="tablist">
	          <li class="active">
	          	<a data-target="#addresource-location" role="tab" data-toggle="tab">Location</a>	          		                      
	          </li>
	          <li>
	           <a data-target="#addresource-related-resource" role="tab" data-toggle="tab">Related Resource</a>	
	          </li>	         
	          <li>
	           <a data-target="#addresource-contributors" role="tab" data-toggle="tab">Contributors</a>
	          </li>
	          <li>
	           
	           <a data-target="#addresource-misc" role="tab" data-toggle="tab">Other information</a>
	          </li>
	        </ul>
	        <!-- Tab panes -->
	        <div class="tab-content tab-content-shop">
	          <div class="tab-pane fade active in" id="addresource-location">		
		          <div class="row">	  
			          <div class="col-md-12"> 
			            <form name="location">       
				          	<fieldset class="form-group form-group-sm show-fieldset-borders">
							    <legend><div class="title-sm text-theme hr-left">Location</div></legend>
							    <div class="form-group form-group-sm">
								    <label>Locality</label>
				                    <input type="text" class="form-control" placeholder="locality" ng-model="resource.location.locality"/>
			                    </div>
			                    <div class="form-group form-group-sm">
								    <label>Locality uri</label>
				                    <input type="text" class="form-control" placeholder="http://" ng-model="resource.location.localityUri"/>
			                    </div>			                    
				                 <div class="form-group form-group-sm">
				                    <label>Vertical Datum</label>
				                    <select  class="form-control" ng-model="resource.location.verticalDatum"  ng-options="epsg as epsg for epsg in getEpsg"></select>	                   
				                 </div>
				                 <div class="form-group form-group-sm">
								    <label>Geometry uri</label>
				                    <input type="text" class="form-control" placeholder="Geometry Uri" ng-model="resource.location.geometryUri"/>
			                    </div>
			                    <div class="form-group form-group-sm" ng-class="{ 'has-error' : resource.location.wkt.length > 0 && resource.location.srid==null}">
				                    <label>SRID</label>
				                    <select  class="form-control" ng-model="resource.location.srid"  ng-options="epsg as epsg for epsg in getEpsg"></select>	
				                     <p ng-show="resource.location.wkt.length > 0 && resource.location.srid==null" class="small help-block">Select SRID for location</p>                   
				                 </div>
			                    <div class="form-group form-group-sm" ng-class="{ 'has-error' : location.wkt.$invalid && !location.wkt.$pristine}">
								    <label>location wkt{{location.wkt.$invalid}}</label>
				                    <input type="text" class="form-control" name="wkt" ng-change="testIsWKT(resource.location.wkt)" placeholder="Well known text, eg POINT(lon lat)"  ng-model="resource.location.wkt"/>
				                    <p ng-show="location.wkt.$invalid && !location.wkt.$pristine" class="small help-block">Invalid well known text</p>  
			                    </div>
							  </fieldset> 
						  </form>
						</div>               
			      </div>            					      
		      </div>	
	          <div class="tab-pane fade  in tab-shop-item" id="addresource-misc">
	          	 <div class="row mt-20">
	          	 	<div class="col-md-12">	          
			         	<form>		              	
		                  <div class="form-group form-group-sm">
		                    <label>Alternate Identifier</label>
		                    <input type="text" ng-repeat="altId in resource.alternateIdentifierses" class="form-control" placeholder="Alternate identifier" ng-model="altId.alternateIdentifier"/>
		                  </div> 
		                   <div class="form-group form-group-sm">		                   
		                     <div class="row" ng-repeat ="classification in resource.classificationses">
							  <div class="col-sm-6 col-xs-12">		
							  	  <div class="input-group width-100">
								  	  <label>Classification uri:</label>					   					      
								      <input type="text" class="form-control"  placeholder="http://" ng-model="classification.classificationUri"/>
							      </div>		    
							  </div>
							  <div class="col-sm-6 col-xs-12">	
							  	  <div class="input-group width-100">
								  	  <label>Classification</label>					   					      
								      <input type="text" class="form-control"  placeholder="classification" ng-model="classification.classification"/>
							      </div>								  	  		   				     
							      						    
							  </div>
							</div>		                    
		                  </div>  
		                   <div class="form-group form-group-sm">
		                    <label>purpose</label>
		                    <input type="text" class="form-control" placeholder="purpose" ng-model="resource.purpose"/>
		                  </div>   
		                   <div class="form-group form-group-sm">		                    
		                    <div class="row" ng-repeat="sampledFeature in resource.sampledFeatureses">
							  <div class="col-sm-6 col-xs-12">	
							  	 <div class="input-group width-100">
								  	  <label>Sampled Feature uri:</label>					   					      
								      <input type="text" class="form-control" placeholder="http://" ng-model="sampledFeature.sampledFeatureUri"/>
							      </div>						   					      							      						   
							  </div>
							  <div class="col-sm-6 col-xs-12">	
							  	 <div class="input-group width-100">
								  	  <label>Sampled Feature:</label>					   					      
								      <input type="text" class="form-control" placeholder="Sampled Feature" ng-model="sampledFeature.sampledFeature"/>
							      </div>					   				      							      						    
							  </div>
							</div>
		                  </div>  
						   <div class="form-group form-group-sm">
		                    <label>Date</label>
		                    <div class="input-group">
		                     <input type="date" class="form-control"  ng-model="resource.resourceDate.timeInstant" format-date/>						          
						     </div>
		                  </div>
						  <div class="form-group form-group-sm">		                  
		                    <div class="row">
							  <div class="col-sm-6 col-xs-12">		
							  	 <div class="input-group width-100">
								  	  <label>Method uri:</label>					   					      
								      <input type="text" class="form-control" placeholder="http://" ng-model="resource.method.methodUri"/>
							      </div>				   					      							      				   
							  </div>
							  <div class="col-sm-6 col-xs-12">									  	  				   				      
							      <div class="input-group width-100">
								  	  <label>Method:</label>					   					      
								      <input type="text" class="form-control" placeholder="Method" ng-model="resource.method.method"/>
							      </div>						    
							  </div>
							</div>
		                    
		                  </div>  
		                  <div class="form-group form-group-sm">
		                    <label>Campaign</label>
		                    <input type="text" class="form-control" placeholder="Campaign" ng-model="resource.campaign"/>
		                  </div> 
						  <div class="form-group form-group-sm">
		                    <label>Comments</label>
		                    <input type="text" class="form-control" placeholder="Comments" ng-model="resource.comments"/>
		                  </div>      
		                </form>	 	
					 </div>				                       
			      </div>
	          </div>	
	          
	          
	         
	          <div class="tab-pane fade in tab-shop-item" id="addresource-contributors">
	          	 <div class="row">	
	          	 	<div class="col-md-12">          
		          	  <fieldset class="form-group form-group-sm show-fieldset-borders" ng-repeat="contributor in resource.contributorses">
					    <legend><div class="title-sm text-theme hr-left">Contributors</div></legend>
					    <div class="form-group form-group-sm" ng-class="{ 'has-error' : (contributor.contributorType!=null || contributor.contributorIdentifier.length > 0 || contributor.cvIdentifierType.identifierType!=null) && !contributor.contributorName  }">
						    <label>Contributor Name</label>
		                    <input type="text" class="form-control" placeholder="Contributor Name" ng-model="contributor.contributorName">		                    
		                    <p ng-show="(contributor.contributorType!=null || contributor.contributorIdentifier.length > 0 || contributor.cvIdentifierType.identifierType!=null) && !contributor.contributorName" class="small help-block">Name cannot be empty if including contributor</p> 
	                    </div>	                   
	                    <div class="form-group form-group-sm" ng-class="{ 'has-error' : contributor.contributorName && !contributor.contributorType}">
		                    <label>Contributor Type</label>
		                    <select  class="form-control" ng-model="contributor.contributorType"  ng-options="type as type for type in getContributorType"></select>
		                    <p ng-show="contributor.contributorName && !contributor.contributorType" class="small help-block">Contributor Type cannot be empty including one</p>	                   
		                 </div>
		                  <div class="form-group form-group-sm">
						    <label>Contributor Identifier</label>
		                    <input type="text" class="form-control" placeholder="Contributor Identifier" ng-model="contributor.contributorIdentifier">
	                    </div>
	                    <div class="form-group form-group-sm"  ng-class="{ 'has-error' : contributor.contributorIdentifier && !contributor.cvIdentifierType.identifierType}">
		                    <label>Contributor Identifier Type</label>
		                    <select  class="form-control" ng-model="contributor.cvIdentifierType.identifierType"  ng-options="type as type for type in getIdentifierType"></select>			                       
		                    <p ng-show="contributor.contributorIdentifier && !contributor.cvIdentifierType.identifierType" class="small help-block">Identifier type cannot be empty if specifying identifier</p>                
		                 </div>	
		                 <button class="btn btn-red btn-sm" type="button" ng-hide="resource.contributorses.length ==1" ng-click="removeContributor($index)">Remove Contributor</button>
					     <button class="btn btn-blue btn-sm" type="button" ng-click="addContributor()">Add More Contributor</button>
					    </fieldset>  
					    
					  </div>				                       
			      </div>
	          </div>
	          <div class="tab-pane fade in tab-shop-item" id="addresource-related-resource">
	          	 <div class="row">	
	          	 	<div class="col-md-12">          
		          	  <fieldset class="form-group form-group-sm show-fieldset-borders" ng-repeat="relatedResource in resource.relatedResourceses">
					    <legend><div class="title-sm text-theme hr-left">Related Resource</div></legend>
					    <div class="form-group form-group-sm" >
						    <label>Related resource</label>
		                    <input type="text" class="form-control" placeholder="Related resource" ng-model="relatedResource.relatedResource">
	                    </div>	                   
	                    <div class="form-group form-group-sm" ng-class="{ 'has-error' : !relatedResource.cvIdentifierType.identifierType && (relatedResource.relationType || relatedResource.relatedResource)}">
		                    <label>Related Identifier Type</label>
		                    <select  class="form-control" ng-model="relatedResource.cvIdentifierType.identifierType"  ng-options="type as type for type in getIdentifierType"></select>	   
		                    <p ng-show="!relatedResource.cvIdentifierType.identifierType && (relatedResource.relationType || relatedResource.relatedResource)" class="small help-block">Related Identifier must not be empty if specifying a relationship or related resource</p>                
		                 </div>		                 
	                    <div class="form-group form-group-sm" ng-class="{ 'has-error' : (relatedResource.cvIdentifierType.identifierType || relatedResource.relatedResource) && !relatedResource.relationType}">
		                    <label>Relation Type</label>
		                    <select  class="form-control" ng-model="relatedResource.relationType"  ng-options="type as type for type in getRelationType"></select>	
		                    <p ng-show="(relatedResource.cvIdentifierType.identifierType || relatedResource.relatedResource) && !relatedResource.relationType" class="small help-block">Relation type must not be empty if specifying a related identifier type or related resource</p>                   
		                 </div>	
		                 <button class="btn btn-red btn-sm" type="button" ng-hide="resource.relatedResourceses.length ==1" ng-click="removeRelatedResource($index)">Remove Related Resource</button>
					     <button class="btn btn-blue btn-sm" type="button" ng-click="addRelatedResource()">Add More Related Resource</button>
					  </fieldset> 
					 </div>	                       
			      </div>
	          </div>
	        </div>
	      </div>
	    </div>
      </div>
    </div>
  
   
				