
   <div class="section section-lg section-bottom container" ng-controller="metaCtrl">
      <div>                    
        <div class="row">        
          <div class="col-md-12">
	       	 <div class="row">
	            <h3 class="title-md hr-left text-theme">Metadata Information</h3>	      
	            <div class="panel-primary text-theme content-box col-md-6" >
	              <div class="panel-heading">
	                <h3 class="panel-title">Resource Identifier: {{resource.resourceIdentifier}}</h3>
	              </div>
	              <div class="panel-body">
	                <form>	                  
	                  <div class="form-group form-group-sm">
	                    <label>Landing Page</label>
	                    <div class="form-control well"><label>{{resource.landingPage}}</label></div>                   
	                  </div>
	                  <div class="form-group form-group-sm">
	                    <label>Public Data</label>
	                    <div class="form-control well"><label>{{resource.isPublic}}</label></div>                 
	                  </div>	
	                  <div class="form-group form-group-sm">
	                    <label>Resource Title</label>	                   
	                    <div class="form-control well"><label>{{resource.resourceTitle}}</label></div>
	                  </div>	     	                 	                 
	                  <div class="form-group form-group-sm">
	                    <label>Resouce Type</label>
	                    <div class="well well-sm mb-0"> <ul class="list-group mb-0">
					      <li class="list-group-item form-control" ng-repeat="resourceType in resource.resourceTypeses"><a ng-href="{{resourceType.cvResourceType.resourceType}}">{{resourceType.cvResourceType.resourceType}}</a></li> 
					    </ul></div>	                   
	                  </div>
	                  <div class="form-group form-group-sm">
	                    <label>Material Type</label>
	                    <div class="well well-sm mb-0"> <ul class="list-group mb-0">
					      <li class="list-group-item form-control" ng-repeat="materialType in resource.materialTypeses"><a ng-href="{{materialType.cvMaterialTypes.materialType}}">{{materialType.cvMaterialTypes.materialType}}</a></li> 
					    </ul></div>	                   
	                  </div>
	                  <!-- fieldset class="form-group form-group-sm show-fieldset-borders">
					    <legend>Curation Details</legend>
					    <div class="form-group form-group-sm">
						    <label>Curator</label>
		                    <input type="text" class="form-control" placeholder="Curator" ng-model="form.curator">
	                    </div>
	                    <div class="form-group form-group-sm">
		                    <label>Curation Date</label>
		                    <div class="input-group">
		                     <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" is-open="curationDate.opened"  ng-model="form.curationDate" close-text="Close" alt-input-formats="altInputFormats" />
						          <span class="input-group-btn">
						            <button type="button" class="btn btn-default btn-sm" ng-click="curationDate.opened=true;"><i class="glyphicon glyphicon-calendar"></i></button>
						          </span>
						     </div>
		                 </div>
		                 <div class="form-group form-group-sm">
						    <label>Curation Location</label>
		                    <input type="text" class="form-control" placeholder="Curation Location" ng-model="form.curationLocation">
	                    </div>
		                 <div class="form-group form-group-sm">
						    <label>Curation Institution Uri</label>
		                    <input type="text" class="form-control" placeholder="http://" ng-model="form.curationInstitutionUri">
	                    </div>
		                 
					  </fieldset-->	                 
	                </form>	               
	              </div>
	            </div>
	            <div class="panel-primary text-theme content-box col-md-6">
	            	<div id="igsn-map"></div>	            	
	            </div>
	            <!-- div class="panel-primary text-theme content-box col-md-6">
	              <div class="panel-heading">
	                <h3 class="panel-title">Optional</h3>
	              </div>
	              <div class="panel-body">
	                <form>
	                  <div class="form-group form-group-sm">
	                    <label>Alternate Identifier</label>
	                    <input type="text" class="form-control" placeholder="Alternate identifier" ng-model="form.alternateIdentifier">
	                  </div> 
	                   <div class="form-group form-group-sm">
	                    <label>Classification uri</label>
	                    <input type="text" class="form-control" placeholder="http://" ng-model="form.classificationUri">
	                  </div>  
	                   <div class="form-group form-group-sm">
	                    <label>purpose</label>
	                    <input type="text" class="form-control" placeholder="purpose" ng-model="form.purpose">
	                  </div>   
	                   <div class="form-group form-group-sm">
	                    <label>SampledFeatures</label>
	                    <div class="row">
						  <div class="col-sm-6 col-xs-12">						   					      
						      <input type="text" class="form-control" placeholder="http://" ng-model="form.sampledFeatureUri">						    
						  </div>
						  <div class="col-sm-6 col-xs-12">						   				      
						      <input type="text" class="form-control" placeholder="Sampled Feature" ng-model="form.sampledFeature">						    
						  </div>
						</div>
	                  </div>  
	                  <fieldset class="form-group form-group-sm show-fieldset-borders">
					    <legend>Location</legend>
					    <div class="form-group form-group-sm">
						    <label>Locality</label>
		                    <input type="text" class="form-control" placeholder="locality" ng-model="form.locality">
	                    </div>
	                    <div class="form-group form-group-sm">
						    <label>Locality uri</label>
		                    <input type="text" class="form-control" placeholder="http://" ng-model="form.localityUri">
	                    </div>
	                    <div class="form-group form-group-sm">
		                    <label>SRID</label>
		                    <select  class="form-control" ng-model="form.srid"  ng-options="epsg as epsg for epsg in getEpsg"></select>	                   
		                 </div>
		                 <div class="form-group form-group-sm">
		                    <label>Vertical Datum</label>
		                    <select  class="form-control" ng-model="form.verticalDatum"  ng-options="epsg as epsg for epsg in getEpsg"></select>	                   
		                 </div>
		                 <div class="form-group form-group-sm">
						    <label>Geometry uri</label>
		                    <input type="text" class="form-control" placeholder="Geometry Uri" ng-model="form.geometryUri">
	                    </div>
	                    <div class="form-group form-group-sm">
						    <label>location wkt</label>
		                    <input type="text" class="form-control" placeholder="spatial well known text" ng-model="form.classificationUri">
	                    </div>
	                    
					  </fieldset>  
					   <div class="form-group form-group-sm">
	                    <label>Date</label>
	                    <div class="input-group">
	                     <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" is-open="date.opened"  ng-model="form.date" close-text="Close" alt-input-formats="altInputFormats" />
					          <span class="input-group-btn">
					            <button type="button" class="btn btn-default btn-sm" ng-click="date.opened=true;"><i class="glyphicon glyphicon-calendar"></i></button>
					          </span>
					     </div>
	                  </div>
	                  <fieldset class="form-group form-group-sm show-fieldset-borders">
					    <legend>Collectors</legend>
					    <div class="form-group form-group-sm">
						    <label>Collector Name</label>
		                    <input type="text" class="form-control" placeholder="locality" ng-model="form.collectorName">
	                    </div>
	                    <div class="form-group form-group-sm">
						    <label>Collector Identifier</label>
		                    <input type="text" class="form-control" placeholder="Collector Identifier" ng-model="form.collectorIdentifier">
	                    </div>
	                    <div class="form-group form-group-sm">
		                    <label>Collector Identifier Type</label>
		                    <select  class="form-control" ng-model="form.collectorIdentifierType"  ng-options="type as type for type in getIdentifierType"></select>	                   
		                 </div>
					  </fieldset>
					  <div class="form-group form-group-sm">
	                    <label>Method</label>
	                    <input type="text" class="form-control" placeholder="Method" ng-model="form.method">
	                  </div>  
	                  <div class="form-group form-group-sm">
	                    <label>Campaign</label>
	                    <input type="text" class="form-control" placeholder="Campaign" ng-model="form.campaign">
	                  </div>
	                  <fieldset class="form-group form-group-sm show-fieldset-borders">
					    <legend>Contributors</legend>
					    <div class="form-group form-group-sm">
						    <label>Contributor Name</label>
		                    <input type="text" class="form-control" placeholder="Contributor Name" ng-model="form.contributorName">
	                    </div>	                   
	                    <div class="form-group form-group-sm">
		                    <label>Contributor Type</label>
		                    <select  class="form-control" ng-model="form.contributorType"  ng-options="type as type for type in getContributorType"></select>	                   
		                 </div>
		                  <div class="form-group form-group-sm">
						    <label>Contributor Identifier</label>
		                    <input type="text" class="form-control" placeholder="Contributor Identifier" ng-model="form.contributorIdentifier">
	                    </div>
	                    <div class="form-group form-group-sm">
		                    <label>Contributor Identifier Type</label>
		                    <select  class="form-control" ng-model="form.contributorIdentifierType"  ng-options="type as type for type in getIdentifierType"></select>	                   
		                 </div>	
					  </fieldset>  
					  <fieldset class="form-group form-group-sm show-fieldset-borders">
					    <legend>Related Resource</legend>
					    <div class="form-group form-group-sm">
						    <label>Related resource</label>
		                    <input type="text" class="form-control" placeholder="Related resource" ng-model="form.relatedResource">
	                    </div>	                   
	                    <div class="form-group form-group-sm">
		                    <label>Related Identifier Type</label>
		                    <select  class="form-control" ng-model="form.relatedIdentifierType"  ng-options="type as type for type in getIdentifierType"></select>	                   
		                 </div>		                 
	                    <div class="form-group form-group-sm">
		                    <label>Relation Type</label>
		                    <select  class="form-control" ng-model="form.contributorIdentifierType"  ng-options="type as type for type in getRelationType"></select>	                   
		                 </div>	
					  </fieldset>  
					  <div class="form-group form-group-sm">
	                    <label>Comments</label>
	                    <input type="text" class="form-control" placeholder="Comments" ng-model="form.comments">
	                  </div>      
	                </form>	               
	              </div>
	            </div-->
	          </div>
	          <div class="row mt-20 mb-30">
			      <div class="col-sm-12">
			        <!-- Nav tabs -->
			        <ul class="nav nav-tabs nav-tabs-shop" role="tablist">
			          <li class="active">
			           <a data-target="#meta-location" role="tab" data-toggle="tab">Location</a>           
			          </li>
			          <li>
			           <a data-target="#meta-curation" role="tab" data-toggle="tab">Curation</a>
			          </li>
			          <li>
			           <a data-target="#meta-misc" role="tab" data-toggle="tab">Misc</a>
			          </li>
			          <li>
			           <a data-target="#meta-contributors" role="tab" data-toggle="tab">Contributors</a>
			          </li>
			          <li>
			           <a data-target="#related-resource" role="tab" data-toggle="tab">Related Resource</a>
			          </li>
			        </ul>
			        <!-- Tab panes -->
			        <div class="tab-content tab-content-shop">
			          <div class="tab-pane fade active in" id="meta-location">		
				          <div class="row">	          
				          	<div class="col-md-4 mt-20">				                    
					            <div class="icon-box bordered">							
								  <h3 class="title-sm text-theme">geometryUri</h3>
								  <p class="text-theme">{{resource.location.geometryUri}}</p>							 
								</div>				                                
				            </div>	
				            <div class="col-md-4 mt-20">				                    
					            <div class="icon-box bordered">
								 <h3 class="title-sm text-theme">locality</h3>
								 <p class="text-theme">{{resource.location.locality}}</p>									
								</div>				                                
				            </div>
				            <div class="col-md-4 mt-20">				                    
					            <div class="icon-box bordered">
								 <h3 class="title-sm text-theme">Locality Uri</h3>
								  <p class="text-theme">{{resource.location.localityUri}}</p>								 
								</div>				                               
				            </div>			              
					      </div>
					      <div class="row">	       
				          	<div class="col-md-4 mt-20">				                    
					            <div class="icon-box bordered">							
								  <h3 class="title-sm text-theme">SRID</h3>
								  <p class="text-theme">{{resource.location.srid}}</p>							 
								</div>				                                
				            </div>	
				            <div class="col-md-4 mt-20">				                    
					            <div class="icon-box bordered">
								 <h3 class="title-sm text-theme">Vertical Datum</h3>
								 <p class="text-theme">{{resource.location.verticalDatum}}</p>									 
								</div>				                                
				            </div>
				           </div>		              					      
				      </div>
			          <div class="tab-pane fade in tab-shop-item" id="meta-curation">
			          	 <div class="row">	          
				          	<div class="col-md-6 mt-20" ng-repeat="curationDetail in resource.curationDetailses">				                    
					            <div>							
								  <h3 class="title-md text-theme">Curator: {{curationDetail.curator}}</h3>
						            <ul class="list-unstyled list-md text-theme">
						              <li><i class="fa fa-user fa-box"></i>Curator: {{curationDetail.curator}}</li>
						              <li><i class="fa fa-calendar fa-box"></i>Curation Date: {{curationDetail.curationDate}}</li>	              
						              <li><i class="fa fa-map-marker fa-box"></i>Curation Location: {{curationDetail.curationLocation}}</li>
						              <li><i class="fa fa-building-o fa-box"></i>Curating Institution: {{curationDetail.curatingInstitution}}</li>
						              <li><i class="fa fa-external-link fa-box"></i>Institution URI: {{curationDetail.institutionUri}}</li>
						            </ul>								 
								</div>				                                
				            </div>					                       
					      </div>
			          
			            	
			          </div>
			        </div>
			      </div>
			    </div>
          </div>         
        </div>
      </div>
    </div>
  
   
				