fieldset.show-fieldset-borders{
	border: 1px solid #c4c4c4;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 1em 0em 0em 0em;
    background-color: #f9fcff
}

.show-fieldset-borders legend{
	width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
    background-color: #ffffff
}


#registrant-list-table .table-row-selected{
    background-color: #1e8bc3;
    color: #ffffff;
}

#igsn-map{
	width : 100%;
	height: 500px; 
}